<!DOCTYPE html>
<html>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>setting画面</title>
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script type="text/javascript" src="/static/js/settings/view_calendar.js"></script>
  <script type="text/javascript" src="/static/js/settings/index.js"></script>
</head>

<body>
  <dl id="body">
  </dl>
</body>

</html>