#panel {
    width: 500px;
}

#panel > dt {
    border-left: solid 10px #f6f; /*定義の左右に10ptのボーダーを表示*/
    border-right: solid 10px #f5f;
    border-bottom: solid 1px #ccc; /*定義語の下側に1px幅のボーダーを表示*/
    background-color: #06c; /*背景色指定*/
    color: white; /*文字色白*/
    font-weight: bold;/*太字*/
    padding: 10px;/*パディングは10px*/
    cursor: pointer; /*マウスカーソルの形状をリンクポインタ型にする*/
}
/*定義説明するdd要素に適用するルール*/
#panel > dd {
    border: solid 1px #ccc; /*周りに1pxのボーダー表示*/
    margin: 0px;/*マージンは０*/
    padding: 10px;/*パディングは10px*/
}